/* main-style */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* header-style */

.header {
    height: 50px;
    background-color: rgb(68, 109, 255);
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    color: #000;
    text-decoration: none;
}

.img-gear {
    height: 30px;
    margin-top: 10px;
    display: block;
}

.logo-text {
    margin-top: 5px;
    font-weight: 600;
    font-size:xx-large;
    margin-left: 8px;
}

.extra-information-header {
    display: flex;
}

.img-clock {
    height: 25px;
    margin-top: 12px;
}

.time-work {
    margin-top: 15px;
    font-weight: 500;
    margin-left: 3px;
}

.img-phone {
    margin-left: 60px;
    height: 21px;
    margin-top: 14px;
}

.phone-number {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 8px;
    margin-left: 3px;
    font-weight: 500;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.phone-number:hover {
    background: rgb(64, 0, 255);
}


/* Menu */

.menu {
    margin-top: -1px;
    background-color: rgb(33, 33, 33);
    padding-right: 25%;
    padding-left: 25%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 3;
}

/* buttons */

.button-home {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 5px;
    width: 120px;
    font-size: 21px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background: none;
    border: none;
    text-align: center;
}

.button-home:hover {
    background-color: rgb(83, 83, 83);
}

.button-service {
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 5px;
    width: 120px;
    font-size: 21px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button-service:hover {
    background-color: rgb(83, 83, 83);
}

.button-price-list {
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 5px;
    width: 120px;
    font-size: 17px;
    font-size: 21px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button-price-list:hover {
    background-color: rgb(83, 83, 83);
}


.button-contacts {
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 5px;
    width: 120px;
    font-size: 17px;
    font-size: 21px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button-contacts:hover {
    background-color: rgb(83, 83, 83);
}

.button-about-us {
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 5px;
    width: 120px;
    font-size: 21px;
    font-weight: 500;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button-about-us:hover {
    background-color: rgb(83, 83, 83);
}

/* All servies in one place */

.all-services-in-one-place {
    text-align: center;
    margin-top: 60px;
}

.title-subtitle-services {
    margin: 0;
}

.title-all-services {
    margin-top: 70px;
    font-size: 40px;
    font-weight: 700;
}

.subtitle-all-services {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.images-all-services {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.img1-services {
    text-align: left;
    display: inline-block;
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background:url(../images/rectangle-26-hover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background 0.1s;
}

.img1-services:hover{
    background:url(../images/rectangle-26-hover.png);
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-services1 {
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 29px;
}

.img2-services {
    text-align: left;
    display: inline-block;
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background:url(../images/rectangle-27-hover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background 0.1s;
}

.img2-services:hover{
    background:url(../images/rectangle-27-hover.png);
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img3-services {
    text-align: left;
    display: inline-block;
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background:url(../images/rectangle-28-hover.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background 0.1s;
}

.img3-services:hover{
    background:url(../images/rectangle-28-hover.png);
    padding-top: 30px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.title-img-services {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 29px;
}

.spans-services {
    color: #2F88FF;
    font-size: 23px;
    font-weight: 700;
}

.text-services {
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 29px;
}

.button-price-services {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 200px;
    color: #fff;
    background-color: #4F88FF;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}

.button-price-services:hover {
    background-color: #2168c5;
}

/*footer */

.footer {
    margin-top: 50px;
    text-align: center;
    height: 200px;
    background-color: rgb(68, 109, 255);
    color: #ffff;
}

.text-footer {
    padding-top: 80px;
}